DB_URL=jdbc:mysql://YOUR_RDS_ENDPOINT:3306/gymflow
DB_USERNAME=gymflow_app
DB_PASSWORD=CHANGE_ME

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=CHANGE_ME
JWT_ACCESS_TOKEN_EXPIRATION=CHANGE_ME

FRONTEND_ORIGIN=http://localhost:3000

AWS_REGION=ap-northeast-2
S3_RESOURCE_IMAGE_BUCKET=gymflow-resource-images
